* {
  font-family: 'Roboto',sans-serif;
  /* font-weight: bold; */
  /* transition: all 0.3s ease-in; */
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.icon{
    width: 14%;
    margin-left: 3rem;
    margin-top: 3px;
}

.main-heading{
  padding-top:40px;
}
.about-img{
  width: 80%;
}

li,
p,
a {
  font-size: 1.6rem;
}

#triangle-down {
  border-left: 860px solid transparent;
  border-right: 880px solid transparent;
  border-top: 290px solid #0173C4;
  margin-left: -25rem !important;
}
#triangle-down2{
width: 0;
height: 0;
border-left: 794px solid transparent;
border-right: 790px solid transparent;
border-top: 340px solid #DFDFDF;
position: absolute;
top: 0;
z-index: -1;
margin: 0 auto;
/* left: 0; */
right: -17.5rem;
}


h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

.text-left{
  font-size: 5rem !important;
  margin-top: 10rem;
  margin-bottom: 8rem;
}

.row {
  margin: 0;
}

.navbar-style {
  background-color: #f8f9fa;
  box-shadow: 2px 4px 13px 1px rgba(8, 8, 8, 0.04);
  border-bottom: 35px solid #18408b ;
}

.profile{
  width: 20%;
}


.navbar-light .navbar-nav .nav-link {
  color:  #18408b !important ;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  padding-left: 1rem;
  padding-right: 4rem;
  font-size: 1.9rem;
  text-align: center;
  padding-top: 10px;
  /* font-weight: bold; */
}


.top-text{
  margin-top: 8rem;
  color: #18408b !important;
}

.-about-icon{
  width:73%;
  padding-left: 40px;
  padding-top: 40px;
  margin-top: 8rem;
  margin-left: 2rem;
}

.event1-icon{
  width: 50%;
  margin-left:210px;
  margin-top: 2rem;
  padding-top: 30px;
}

.chess-img{
  width: 60%;
  padding-top: 40px;
  margin-left: 8rem;
}


.row h2{
  margin-top: 10rem;
  font-size: 4.5rem;
  color: #18408b;
  letter-spacing: 1px;
  font-weight: bold;
}

.subclass{
  margin-top: 3rem;
  font-size: 16px;
  line-height: 27px;
}


.faculty {
  max-width: 500px;
  margin: 12rem auto;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #0381ff !important;
}

/* our hero sections  */

.hero-text h1 {
  font-size: 5.5rem;
  line-height: 1.5;
  text-shadow: 5px 4px 11px rgba(0, 0, 0, 0.26);
  letter-spacing: 1px;
  color: #2f2f2f;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.imp{
  margin-left: 13rem;
  margin-top:8rem !important;
  color: #000!important;
}


.hero-text h1:nth-child(2) {
  font-weight: bold;
  color: #5222d0;
}

.hero-text p,
.our-services p,
label {
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  color: #ffffff !important;
  text-transform: capitalize;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}




/* our services style starts  */

.service-style {
  margin-bottom: 10rem;
}

.box {
  /* margin-left: 30rem; */
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 4rem;
}



.our-services {
  margin-top: 115px;
  padding-bottom: 30px;
  padding: 0 30px;
  min-height: 198px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(217, 220, 222);
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
}

.our-services .icon {
  margin-bottom: -21px;
  transform: translateY(-50%);
  text-align: center;
}

.our-services h4 {
  font-size: 3rem;
  font-weight: bold;
}

.our-services:hover h4,
.our-services:hover p {
  color: #fff;
}

.speedup:hover {
  box-shadow: 0 0 25px 0 rgba(33, 39, 221, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #f33474 0%, #f55b2a 50%);
}

.image{
 width:180%;
 margin-left: 150px;
 border:  rgb(0, 0, 0) solid;
 border-radius: 10px;
 /* margin-top:13rem; */
}

#button{
  margin-left: 60rem;
}

.our-services{
  background: linear-gradient(-45deg, #49d0da 0%, #210c59 50%);
  color: white;
}

.small{
  color: white !important;
}


.settings:hover {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: linear-gradient(-45deg, #9bf904 0%, #fc0707 50%);
}

.privacy:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #5035ec 0%, #44a2f6 50%);
}

.backups:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #fd7f30 0%, #fdb642 50%);
}

.ssl:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #974eff 0%, #5a57fb 50%);
}

.database:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 50%);
}
/* our services style ends  */
.row-sub{
  margin-left: 20rem;
}


.hero-text p span {
  font-weight: bold;
  color: #000;
}

.btn-style {
  padding: 12px 25px;
  border: none;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #fff;
  background:  #18408b;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  border-radius: 90000px;
}

.button-icon{
  padding-right: 10px !important;}


.btn-primary{
    border-radius: 10px !important;
    padding-bottom: 10px !important;
  }

.top-text{
  font-weight: bold;
  color: black !important;
  padding-bottom: 12px;
}  

.btn-style:hover{
  color: rgb(255, 255, 255) ;

}


/* about us style starts  */

.about-style {
  margin: 10rem 0;
}

.about-style .main-heading,
.service-style .main-heading,
.contact-style .main-heading {
  font-size: 5rem;
  color: #18408b;
  letter-spacing: 1px;
  font-weight: bold;
}

.about-style .sub-heading,
.service-style .sub-heading,
.contact-style .sub-heading {
  font-size: 3rem;
  letter-spacing: 3px;
  line-height: 2;
  color: #333;
  font-weight: 500;
}

/* footer sections ends  */

footer {
  background: rgb(221, 217, 217);
}

footer p {
  padding: 1rem 0;
  margin: 0;
  text-align: center;
}




/* Faculty */
.faculty>ul {
  max-width: 500px;
  margin: 1rem auto;
}

.faculty>h1 {
  margin-bottom: 2rem;
}

.faculty-details {
  margin-top: auto;
  margin-bottom: auto;
}

.faculty-image {
  border-radius: 50%;
}























@media (max-width: 768px) {

  .icon{
    margin-left: 19rem !important;;
  }

  h1{
    margin-top: 5rem;
    font-size: 35px !important;
    margin-left: 5rem;
  }
 
  #triangle-down {
    border-left: 860px solid transparent;
    border-right: 880px solid transparent;
    border-top: 290px solid #0173C4;
    margin-left: -50rem !important;
  }
  #triangle-down2{
  width: 0;
  height: 0;
  border-left: 794px solid transparent;
  border-right: 790px solid transparent;
  border-top: 340px solid #DFDFDF;
  position: absolute;
  top: 0;
  z-index: -1;
  margin: 0 auto;
  /* left: 0; */
  right: -46.5rem !important;
  }

  #mb{
    margin-top: 4rem !important;
  }

  .event1-icon{
    width: 80% !important;
    margin-left:5rem;
    margin-bottom: 6rem;
  }

  .nav-link{
    margin-left: 3rem ;
  }

.icon3{
  width:70%;
  padding-left: 15px;
  margin-left: 5rem;
}


  .icon{
    display:flex;
    margin-left:11.2rem;
    margin-bottom:1.6rem;
    width: 40%!important;
}

  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-text p,
  .our-services p,
  label {
    font-size: 1.5rem;
  }

  .h1{
    margin-left: -7rem !important;
  }
  
  .mission{
    margin-left: -14rem !important;
  }
  
  .vison{
    margin-left: -14rem !important;
  }
  
  .vison1, mission1{
    margin-left: -13rem !important;
  }
  
  .mission1{
    margin-left: -13rem !important;
  }

  .smal{
    margin-left: -6rem !important;
  }

  .footer__socials{
     margin-left: 15rem;
  }

  .footer-text{
    margin-left: -21.8rem;
  }
}
